h3 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.header {
  background-color:cornflowerblue;
  color: white;
}

.results {
  margin: 1%;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0%;
  padding: 0px;
}

.searchArea {
  margin: 1%;
}

.resultsSection {
  text-align: center;
}

li {
  margin: 1%;
  border-radius: 25px;
  border: 2px solid cornflowerblue;
  padding: 20px;
}
